.buttonHome,
.buttonCreate {
  text-decoration: none;
  display: flex;
  width: 9em;
  height: 2em;
  margin: 0.5em;
  justify-content: center;
  align-items: center;
  border-radius: 0.6em;
  color: #344403;
}

.notes{
    text-align: right;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 5px;
    margin-right: 40px;
}
.buttonCreate {
  background-color: rgb(245, 133, 72, 0.2);
}

.listTitle {
  background-color: rgb(245, 133, 72, 0.7);
  margin: 10px 0;
  width: 100%;
  font-weight: 500;
  font-size: 2.5em;
}

.table {
  margin-left: 10px;
  border: 1px solid black;
  table-layout: fixed;

  width: 95%;
  gap: 1em;
}

.cell {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

.image {
  width: 20%;
  height: 25%;
}

.itemName {
  font-weight: 300;
  font-size: 23px;
  text-decoration: none;
}
