

.navbar {
    display: flex;
    background-color: #496003;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
}

.iconLogo {
    width: 10%;
    color: #496003;
}

.text {
    color: #F58548;
    font-weight: 300;
    font-size: 3em;
}