.navbar {
  display: flex;
  background-color: #496003;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3em;
}

.iconLogo {
  width: 5%;
  color: #496003;
}

.text {
  color: #f58548;
  font-weight: 300;
  font-size: 2.5em;
}
